@font-face {
  font-family: 'OpenDyslexic';
  src: url('./assets/OpenDyslexic-Regular.otf');
}

body {
  font-size: 18px;
  margin: 2rem;
  font-family: 'OpenDyslexic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div.tapboard {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
