@font-face {
  font-family: 'OpenDyslexic';
  src: url('./assets/OpenDyslexic-Regular.otf');
}

body {
  font-size: 18px;
  margin: 2rem;
  font-family: 'OpenDyslexic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section.message {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  box-shadow: 1rem 1rem 1rem #eee;
  background-color: #666;
}

section.board {
  margin-top: 14rem;
}
